In [ ]:
"""What data does pandas process?."""

'What data does pandas process?'

# Какие данные обрабатывает pandas?

Импортируем модуль pandas:

In [2]:
import pandas as pd

В основе работы `pandas` лежит табличное представление данных:

<div style="background-color: #ffffff; padding: 20px; text-align: center;">
    <img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg">
</div>

В качестве примера рассмотрим данные о пассажирах Титаника. 

<img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1374145/6aae47e9a525adfb3c9c433be10e62df/1920x1080" height="300px" width="500px" >

Для ряда пассажиров я знаю имя (символы), возраст (целые числа) и пол (мужской / женский).

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [4]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

Полученная структура данных называется [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html#pandas.DataFrame).

Напоминает обычные таблицы:

<img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_spreadsheet.png" height="200px" width="400px" >

Каждый столбец в структуре `DataFrame` является типом [`Series`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series):

<div style="background-color: #ffffff; padding: 20px; text-align: center;">
    <img src="https://pandas.pydata.org/pandas-docs/stable/_images/01_table_series.svg">
</div>

Выбрать столбец из таблицы:

In [5]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

Внешне очень напоминает питоновский [словарь](https://docs.python.org/3/tutorial/datastructures.html#tut-dictionaries).

Вы также можете создать `Series` с нуля:

In [6]:
ages = pd.Series([22, 35, 58], name="Age")

In [7]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

### Сделайте что-нибудь с DataFrame или Series

Я хочу узнать максимальный возраст пассажиров, применив функцию `max()` к столбцу таблицы:

In [8]:
df["Age"].max()

np.int64(58)

или к типу данных `Series`:

In [9]:
ages.max()

np.int64(58)

Помимо поиска максимального в `pandas` существует [большой набор функций](https://pandas.pydata.org/docs/user_guide/basics.html?highlight=describe#descriptive-statistics).

Если интересует некоторая базовая статистика числовых данных:

In [10]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

[`describe()`](https://pandas.pydata.org/docs/user_guide/basics.html?highlight=describe#summarizing-data-describe) метод обеспечивает краткий обзор численных данных в `DataFrame`. 

Так как столбцы `Name` и `Sex` состоят из текстовых данных, то они не учитываются в `describe()`.

Многие операции в `pandas` возвращают `DataFrame` или `Series`.